@import url("https://fonts.googleapis.com/css?family=Montserrat");

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    align-items: stretch;
  }
  h1 {
    font-size: 2vw;
  }

  .carousel {
    height: 100%;
  }

  img {
    max-width: 100%;
  }

  nav {
    display: none;
    order: -1;
    /* Coloca el menú primero */
  }

  .boton {
    margin: 1em;
    padding: 1em;
  }

  .custom-row {
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
  }

  .custom-row .elemento-a-ocultar {
    display: none;
  }

  .custom-row .contenedor {
    width: 80%;
    max-width: 400px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat";
}

nav {
  color: #f5f6f5;
  background-color: #252726;
  width: 100%;
  display: block;
  font-family: "Montserrat";
  border: 0;
  position: fixed;
  z-index: 10000;
  margin: 0%;
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .title {
  margin-right: auto;
}

.title {
  color: var(--White, #f5f6f5);
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Montserrat";
}

.comenzar-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-size: auto 100%;
}


.seccion-one {
  background-image: url("../IMG/landing/moebiuz_bg.png");
  background-color: #313332;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 100px 0 50px;
}

.title-seccion-one {
  color: var(--White, #f5f6f5);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat";

}

.info-seccione-one {
  color: var(--White, #f5f6f5);
  text-align: center;
  padding: 50px;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.botton-comenzar-ahora {
  margin: auto;
  display: flex;
  padding: 1%;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 8px;
  background: var(--Taupe-Gray, #858887);
  color: var(--White, #f5f6f5);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  cursor: pointer;
}

.seccion-two {

  width: 100%;
  background-color: #252726;
  background-size: cover;
  justify-content: space-between;
  align-self: stretch;
  display: flex;
  padding: 100px 0 100px;
  /*justify-items: center;*/
  justify-items: flex-starts;
}

.titulo-quienesomos {

  color: var(--White, #f5f6f5);
  text-align: center;
  padding: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  font-family: "Montserrat";

}

.texto-quienesomos {
  margin: auto;
  color: var(--White, #f5f6f5);
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-family: "Montserrat";
  font-size: 20px;
}

.texto-moe {
  font-size: 20px;
  margin-bottom: 2%;
  color: var(--White, #f5f6f5);
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-family: "Montserrat";
}

.texto-nombres {
  margin: 0;
  color: var(--American-Silver, #f5f6f5);
  display: inline;
  font-size: 25px;
  font-weight: bold;
}

.texto-nosotros-info {
  margin: 0;
  color: var(--American-Silver, #f5f6f5);
  display: inline;
  font-size: 15px;
}

.carousel {
  min-height: 500px;
}


.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
}

#carousel2 .carousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 800px;
}


#carousel1 .carousel-item img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  object-fit: cover;
}

#carousel2 .carousel-item img {
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  border-radius: 20px;
  object-fit: cover;
}

.seccion-tree {
  background-image: url("../IMG/landing/mo.png");
  background-color: #313332;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 100px 0 100px;
}