* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../IMG/LogIn/Login_Page.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

input {
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
    background-color: #2e302f;
    border: 0;
    border-color: #252726;
    color: #fff;
    border-color: #252726;
}
input::placeholder {
    text-align: center;
    color: #fff;
}

a {
    outline: none;
    text-decoration: none;
    color: #fff;
    display: block;
}


.main-content {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: max-content;
    background: #252726;
    padding: 4rem;
    width: 75%;
    border-radius: 16px;
    color: white;
}

.content-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.content-form {
    width: 50%;
    padding: 20px;
}

.content-image {
    width: 50%;
    padding: 20px;
}

.content-image img {
    width: 100%;
}


button {
    background-color: #858887;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    img {
        max-width: 0%;
    }

    .main-content {


        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        height: max-content;
        background: #252726;
        padding: 4rem;
        width: 50%;
        border-radius: 16px;
        color: white;
    }
    a {
        outline: none;
        text-decoration: none;
        color: #fff;
        display: block;
    }

    input {
        color: white;
        border: 0%;
        background-color: #252726;
        width: 100%;
        border-color: #252726;
    }

    button {
        background-color: #858887;
        border-radius: 4%;
        width: 100px;
        height: 25px;
        border-radius: 10px;
        margin-left: 50%;
    }

    .loginn{
        align-items: center;
        justify-content: center;
    }

}