<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../CSS/Landing.css" type="text/css">


    <title> Moebiuz - Landing </title>

</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="title">Moebiuz Organizer App</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#Inicio">Inicio</a></li>
                    <li><a href="#Quienes-somos">¿Quienes somos?</a></li>
                    <li><a href="#porque">¿Por qué usar Moebiuz?</a></li>
                    <li><a href="#Login">Iniciar sesion</a></li>
                    <li><a href="#Register">Comenzar ahora</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-nav">
            <li><a href="#Inicio">Inicio</a></li>
            <li><a href="#Quienes-somos">¿Quienes somos?</a></li>
            <li><a href="#porque">¿Por qué usar Moebiuz?</a></li>
            <li><a href="#Login">Iniciar sesion</a></li>
            <li><a href="#Register">Comenzar ahora</a></li>
        </ul>
    </header>


    <div class="seccion-one" id="Inicio">
        <div class="row">
            <div class="col s12">
                <p class="title-seccion-one">Organiza tus tareas y pendientes individuales y grupales</p>
                <p class="info-seccione-one"> Moebiuz Organizer App te brinda características necesarias para organizar
                    tus
                    tareas
                    diarias, semanales y mensuales para ti y tu equipo</p>
                <div class="center">
                    <button class="botton-comenzar-ahora">Comienza ahora</button>
                </div>
            </div>
        </div>
    </div>


    <div class="seccion-two" id="Quienes-somos">
        <div class="row">
            <div class="col s10">
                <p class="titulo-quienesomos">¿Quiénes somos?</p>
                <div class="center">
                    <p class="texto-quienesomos">Moebiuz surge de un proyecto universitario, conformado por un equipo de
                        5 estudiantes del Instituto universitario ITM del programa académico "Desarrollo de Software".
                    </p>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="carousel center-align" id="carousel1">
                        <div class="carousel-item">
                            <img src="../IMG/landing/Ann.jpg">
                            <p class="texto-nombres">Andrea Ramos</p>
                            <p class="texto-nosotros-info">Master and frontend</p>
                        </div>
                        <div class="carousel-item">
                            <img src="../IMG/landing/Jorge.jpg">
                            <p class="texto-nombres">Jorge Monterroza</p>
                            <p class="texto-nosotros-info"> Designer and frontend </p>
                        </div>
                        <div class="carousel-item">
                            <img src="../IMG/landing/Pablo.jpg">
                            <p class="texto-nombres">Pablo Espinosa</p>
                            <p class="texto-nosotros-info"> Backend and tester </p>
                        </div>
                        <div class="carousel-item">
                            <img src="../IMG/landing/Mateo.jpg">
                            <p class="texto-nombres">Mateo Gomez</p>
                            <p class="texto-nosotros-info"> Backend </p>
                        </div>
                        <div class="carousel-item">
                            <img src="../IMG/landing/Santi.jpg">
                            <p class="texto-nombres">Santiago Bedoya</p>
                            <p class="texto-nosotros-info"> Frontend </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="seccion-tree" id="porque">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="carousel" id="carousel2">
                        <div class="carousel-item" href="#one!">
                            <p class="texto-moe">Aumenta tu productividad</p>
                            <img src="../IMG/landing/usar.png">
                        </div>
                        <div class="carousel-item" href="#two!">
                            <p class="texto-moe">Organízate a tu gusto</p>
                            <img src="../IMG/landing/per.png">
                        </div>
                        <div class="carousel-item" href="#three!">
                            <p class="texto-moe">Trabaja de forma colaborativa</p>
                            <img src="../IMG/landing/crea.png">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/Landing.js"></script>

</body>



</html>